// Breakpoints
$xs-media: 1px;
$sm-media: 480px;
$md-media: 768px;
$lg-media: 1024px;
$xl-media: 1280px;
$xxl-media: 1600px;

// Content max width 
$xs-content: 100%;
$xl-content: 1280px;
$xxl-content: 1706px;

// Column
$col: 24;
$xxl-col: 32;

// Gutter 
$xs-gutter: 20px;
$xl-gutter: 30px;